* {
padding-inline: 0;
margin: 0;
box-sizing: border-box;

}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;

}
header {
height: 100px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(21, 223, 189);

}
main {
    height: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

    
footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}